.CurrentWeather {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 15% 15% 15% 30% 25%;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.location {
  font-size: 100%;
  text-align: center;
  line-height: 120%;
  margin-top: 2%;
  margin-bottom: 0px;
}

.date {
  font-size: 85%;
  font-weight: 400;
  margin: 5px;
}

.currentTemp {
  font-size: 80%;
  font-weight: 400;
  line-height: 80%;
  margin: 5px;
}

.tempInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.temp {
  line-height: 80%;
  margin: 0;
}

h4 {
  margin: 3px;
}

p {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  font-size: 80%;

}

img {
  width: 50px;
}

