.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.CurrentWeather {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 10%;
  height: 200px;
  text-align: center;
}

.location {
  grid-column: 1 / 3;
  font-size: 130%;
  text-align: center;
}

.date {
  font-size: 110%;
  grid-column: 1 / 3;
}

.temperature {
  font-size: 90%;
  grid-column: 1 / 3;
  font-weight: 400;
}


p {
  text-align: center;
  grid-column: 1 / 3;
}

img {
  width: 50px;
}

