.hourlyCard,
.dailyCard {
  height: 100%;
  margin: 2px;
  border-radius: 5px;
  text-align: center;
}

.hour {
  font-size: 100%;
}

.hourTemp {
  font-weight: 400;
  font-size: 90%;
}

.day {
  font-size: 100%;
}

.dayTemp {
  font-weight: 400;
  font-size: 90%;
}

