input {
  width: 250px;
  height: 26px;
  margin: 10px 0 0 10px;
  border-radius: 5px 0 0 5px;
  border-style: none;
  font-size: 15px;
  outline: none;
  
}

button {
  font-size: 15px;
  height: 28px;
  width: 75px;
  border-radius: 0 5px 5px 0;
  border-style: none;
}

button:hover {
  background-color: #f1f1f1;
}