.App {
  margin: 0;
  height: 100vh;
  max-height: 100%;
  color: white;
  display: grid;
  grid-template-rows: 50% 50%;
  background-image: url('/images/blue-sky.jpg');
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bottom {
  display: grid;
  grid-template-rows: 1fr 1fr;
}