.welcome-page {
  margin: 0;
  height: 100vh;
  max-height: 100%;
  color: white;
  background-image: url('../images/blue-sky.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 { 
  margin: 0;
}